.musicplayer {
  height: 35vh;
  min-width: 35vh;
  background-size: cover;
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0px  50px;
  border-radius: 1em;
  flex-direction: row;
}

.musicplayer h1 {
  color: black;
  font-size: 1.2em;
  background-color: rgba(0,0,0,0);
}

.musicplayer h2 {
  color: #c4c4c4;
  font-size: 1em;
  background-color: rgba(0,0,0,0);
  font-family: skinny;
}

.chin {
  height: 120px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  border-radius: 0em 0em 1em 1em;
  cursor: url(/img/cur-black.png) 15 15, auto;
}

@media screen and (max-width: 550px) {

  .musicplayer {
    height: 30vh;
    width: 30vh;
    min-width: 30vh;
    margin: 20px;
  }

  .chin {
    min-height: 60px;
    font-size: 0.8em;
  }
}
