@font-face {
  font-family: "norm";
  src:url("/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "bold";
  src:url("/fonts/Montserrat-Black.ttf");
}

@font-face {
  font-family:"skinny";
  src:url("/fonts/Montserrat-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: bold;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
}

.pg {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.photosheader {
  background-image: url("/img/camera-dark.jpg");
  cursor: url(/img/cur-white.png) 0 0, auto;
  height: 100vh;
  width: 100vw;
  background-color: black;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.pg1 {
  background-image: url("/img/me-red-home.jpg");
  background-color: black;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: url(/img/cur-white.png) 0 0, auto;
  height: 100vh;
  width: 100vw;
}

.pg3 {
  background-color: black;
  height: 100vh;
  width: 100vw;
  cursor: url(/img/cur-white.png) 0 0, auto;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  cursor: url(/img/cur-white.png) 0 0, auto;
  display: flex;
  width: 900px;
  height: 100%;
  justify-content: space-between;
}

.home-images {
  display: flex;
  align-items: center;
}

.home-images:hover img:nth-child(4) {
  transform: translate(-20px,-80px);
  opacity: 1;
}

.home-images:hover img:nth-child(3) {
  transform: translate(-10px,-40px);
  opacity: .8;
}

.home-images:hover img:nth-child(2) {
  transform: translate(10px,40px);
  opacity: .6;
}

.home-images:hover img:nth-child(1) {
  transform: translate(20px,80px);
  opacity: .4;
}

.nav {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  display: flex;
  justify-content: center;
  cursor: url(/img/cur-black.png) 0 0, auto;
  z-index: 1;
}

.nav-group {
  font-family: norm;
  position: fixed;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  display: flex;
  font-size: 3em;
  height: 100vh;
  display: flex;
  align-items: center;
}

.nav-item {
  margin: 60px;
  height: 100px;
  display: flex;
  align-items: center;
  transition: 0.3s ease;
}

.title {
  justify-content: center;
  max-width: 2000px;
  font-size: 5em;
  color: rgba(0, 0, 0, 0);
  font-family: "bold";
  text-align: right;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}

.header {
  max-width: 700px;
  width: 0ppx;
  font-size: 1.2em ;
  color: #fff;
  font-family: "bold";
  text-align: right;
}

.desc {
  font-size: 0.6em;
  font-family: norm;
  color: black;
  color: #fff;
  width: 600px;
  transition: 0.5s;
  display: flex;
  align-self: center;
  justify-content: center;
}

.desc:hover {
  transform: skewY(-5deg);
}

.img {
  max-height: 200px;
  max-width: 200px;
  border-radius: 100%;
  position: absolute;
  cursor: url(/img/cur-white.png) 0 0, auto;
  transition: 0.5s;
}

@keyframes rainbow {
  0% {color: #FF7777;}
  10% {color: #FFA077;}
  20% {color: #FFF977;}
  30% {color: #B7FF77;}
  40% {color: #77FFB5;}
  50% {color: #77FFF1;}
  60% {color: #77ABFF;}
  70% {color: #7B77FF;}
  80% {color: #B377FF;}
  90% {color: #F977FF;}
  100% {color: #FF7777;}
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.line-top, .line-bottom, .line-mid {
  height: 2px;
  width: 20px;
  background-color: #0c0c0c;
  cursor: url(/img/cur-black.png) 0 0, auto;
  position: absolute;
}

.circle {
  height: 50px;
  width: 50px;
  z-index: 2;
  background-color: white;
  cursor: url(/img/cur-white.png) 0 0, auto;
  border-radius: 3em;  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 80px;
  top: 80px;
}

.home:hover {
  font-size: 1.2em;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.photos:hover {
  font-size: 1.2em;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.music:hover {
  font-size: 1.2em;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.nav-item:active {
  font-size: 0.7em;
}

.audio {
  margin-top: 100px;
  width: 300px;
  cursor: url(/img/cur-black.png) 0 0, auto;
}

.lineDrawing {
  min-width: 1080px;
  min-height: 500px;
  background-color: rgba(0, 0, 0, 0);
  transform-origin: center center;
}

.music-grid {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: 35vh;
  width: 100vw;
  cursor: url(/img/cur-white.png) 0 0, auto;
}

.Placeholder {
  height: 100vh;
  width: 100vw;
  font-size: 0.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.rainbow {
  animation: rainbow 1s infinite;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}

.player {
  min-width: 300px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding: 100px;
  align-items: center;
  cursor: url(/img/cur-white.png) 0 0, auto;
}

.gallery {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  cursor: url(/img/cur-white.png) 0 0, auto;
}

.column {
  width: 30%;
}

.img-container {
  width: 100%;
  padding-bottom: 15%;
}

.gallery-img {
  width: 100%;
}

@media screen and (max-width: 750px) {
  .column {
      width: 100%;
    }

    .flex-container {
      padding: 30px;
    }
}

@media screen and (max-width: 70em) {

  .info {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .home-images {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 50%;
    flex: 1;
  }

  .img {
    height: 150px;
  }

  .lineDrawing {
    min-width: 500px;
    min-height: 125px;
    display: flex;
  }

  .circle {
    left: 25px;
    top: 25px;
  }

  .header {
    max-width: 200px;
  }

  .nav-group {
    font-family: bold;
    position: fixed;
    text-align: center;
    color: black;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3em;
  }

  .nav-item {
    margin: 10px;
    justify-content: center;
  }

  .desc {
    font-size: 0.6em;
    display: flex;
    flex: 1;
    max-width: 70%;
    justify-content: center;
    align-self: center;
  }

  .title {
    font-size: 2em;
  }

}

@media screen and (max-width: 550px) {

  .nav-group {
    font-family: bold;
    position: fixed;
    text-align: center;
    color: black;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    font-size: 3em;
    justify-content: center;
  }

  .column {
      width: 100%;
  }

  .flex-container {
    padding: 30px;
  }

  .nav-item {
    margin: 10px;
    justify-content: center;
  }

  .lineDrawing {
    min-width: 300px;
    min-height: 125px;
    display: flex;
  }

}
